.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-content {
    width: 45%;
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-content {
    position: fixed;
    width: 45%;
    height: 100%;
    right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 800px) {

    .left-content{
        width: 30%;
    }

    .right-content {
        width: 60%;
        right: 10px;
    }
}