.seen {
    /* background: rgb(95, 119, 135); */
    border-radius: 25px;
    width: 30%;
    text-align: center;
    color: black;
    position: fixed;
    /* top: 350px; */
    top: 170px;
    right: 250px;
}

.title_seen{
    width: 100%;
    color: white;
    background: #000;
    border-radius: 25px;
    padding: 5px 0;
}

.seen > img {
    width: 350px;
    filter: drop-shadow(0px 0px 22px #000);
}

.abilitées{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.abilitées > h2 {
    background: rgb(190, 45, 45);
    border-radius: 15px;
    padding: 5px 15px ;
} 

.base-stat {
    background: #000;
    color: white;
    border-radius: 25px;
    position: absolute;
    right: -30%;
    padding: 5px 15px;
    margin-top: -390px;
}

.base-stat > h2 {
    font-size: 1.2rem ;
}

@media screen and (min-width: 450px) and (max-width: 786px) {
	.base-stat{
        align-items: center;
        margin-top: -200px;

    }

    .seen{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 15%;
    }

    .seen > img {
        width: 200px;
    }

    .seen > h1 {
        font-size: 1.6rem;
    }

    .abilitées > h2 {
        font-size: 1.2rem;
    }

    .title_pokeseen, .caught_pokeseen {
        display: none;
    }

    .base-stat {
        display: flex;
        flex-direction: column;
        margin-top: 600px;
        right: 15px;
    }
    .base-stat > h2 {
        margin: 5px 0;
    }
}

@media screen and (max-width: 449px) {
	
	.title_pokeseen, .caught_pokeseen, .base-stat {
        display: none;
    }

    .seen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 15%;
    }

    .seen > img {
        width: 160px;
    }

    .seen > h1 {
        font-size: 1.2rem;
    }

    .abilitées > h2 {
        font-size: 1rem;
    }




}