.topbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    background: linear-gradient(115deg, rgba(203,203,203,1) 63%, rgba(0,0,0,1) 63%);
    margin-top: -95px;
    padding: 0;
}

.topbar > input {
   box-sizing: none;
   border: none;
   margin-right: -100px;
   padding: 15px 15px;
   border-radius: 15px;
}

.topbar > input::placeholder {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.seen_search {
    background: rgb(95, 119, 135);
    border-radius: 25px;
    position: fixed;
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 10px 25px;
    right: 22%;
}

.seen_search > img {
    width: 100px;
}

@media screen and (min-width: 320px) and (max-width: 786px) {
	.topbar {
        flex-direction: column;
        color: white;
        background: linear-gradient(115deg, rgba(203,203,203,1) 70%, rgba(0,0,0,1) 70%);
    }

    .topbar > input {
        margin: 0 auto 10px;
    }

}

@media screen and (min-width: 787px) and (max-width: 1240px) {
	
}
